html {
  background-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 300%;
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
}

.refspec {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: normal;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 0 2px;
}

.float {
  background-color: #eeeeee;
  border: 1px solid #000000;
  border-radius: 3px;
  margin: 20px 10px;
  width: 1%;
  display: table;
  float: left;
}

.float .changed {
  background-color: #ffdddd;
  border-radius: 3px;
  padding: 5px;
}

.float .unchanged {
  border-radius: 3px;
  padding: 5px;
}

.float .name {
  background-color: #444444;
  color: #ffffff;
  border-radius: 2px;
  padding: 5px;
  font-size: 80%;
  text-align: center;
}

.float .description {
  color: #000000;
  text-align: center;
  height: 4 em;
}

.float .imageset {
  white-space: nowrap;
  overflow: hidden;
}

.float .image {
  min-width: 250px;
  float: left;
  text-align: center;  
}

.float img {
  background-color: #FFFFFF;
  padding: 0px;
  box-shadow: 2px 2px 12px -5px #666666;
  margin: 5px 5px;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
}
