language: R
cache: packages
sudo: true
dist: trusty

addons:
  apt:
    packages:
      - libfreetype6

r:
- 3.1
- 3.2
- oldrel
- release
- devel

# work around temporary travis + R 3.5 bug
r_packages: devtools

env:
  global:
  - _R_CHECK_FORCE_SUGGESTS_=false

after_success:
  - Rscript -e 'covr::codecov()'

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable --yes
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install --yes libudunits2-dev libproj-dev libgeos-dev libgdal-dev
  - Rscript -e 'update.packages(ask = FALSE)'
