language: R
cache: packages
sudo: true
dist: trusty

# build matrix; turn on vdiffr only on r release
matrix:
  include:
  - r: devel
  - r: release
    env: VDIFFR=true
  - r: oldrel
  - r: 3.2
  - r: 3.1

# work around temporary travis + R 3.5 bug
r_packages: devtools

# Install manually because dev vdiffr is not compatible with Appveyor yet
r_github_packages: lionel-/vdiffr

# environment variables set for all builds
env:
  global:
  # don't treat missing suggested packages as error
  - _R_CHECK_FORCE_SUGGESTS_=false
  # signal that this is a continuous integration run
  - CI_RUN=true

after_success:
  - Rscript -e 'covr::codecov()'

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable --yes
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install --yes libudunits2-dev libproj-dev libgeos-dev libgdal-dev
  - Rscript -e 'update.packages(ask = FALSE)'
