# Sample .travis.yml for R projects from https://github.com/craigcitro/r-travis

language: c

before_install:
  - curl -OL http://raw.github.com/craigcitro/r-travis/master/scripts/travis-tool.sh
  - chmod 755 ./travis-tool.sh
  - ./travis-tool.sh bootstrap

install:
  - ./travis-tool.sh r_binary_install colorspace strucchange deldir abind tensor polyclip minqa Rcpp RcppEigen modeltools bdsmatrix RColorBrewer dichromat munsell labeling tripack akima rgl logspline nor1mix Formula zoo dynlm chron acepack rms mice sp spatstat PBSmapping mvtnorm TH.data sandwich lme4 robustbase mboost coin car xtable lmtest coxme
  - ./travis-tool.sh install_deps
  - sudo Rscript -e "library(stringi); stri_install_icudt()"

script: ./travis-tool.sh run_tests

on_failure:
  - ./travis-tool.sh dump_logs

notifications:
  email:
    on_success: change
    on_failure: change


before_deploy:
  - ./travis-tool.sh install_github hadley/staticdocs
  - R -e "staticdocs::build_site()"

deploy:
  edge: true

  provider: s3
  access_key_id: AKIAJDM6KGIZ6LSGAK4Q
  secret_access_key:
    secure: "r3vSpvVNcpvIcjWFyk+GhYG55iuhfmy3mwuQHQS2EqjT3Skd3mOojnZuRIqy60XXElK5/nfa3qt7KH0GCSd4Is28cqPwh+1PtQ0ZVXfeKefAk2whTPDI4P+rgOA+srUxZraLALap9QGmvlzJyXbqBCRdDmXUjtXKi2ONE9PrUk4="
  bucket: docs.ggplot2.org
  skip_cleanup: true
  local-dir: inst/web
  upload-dir: dev
