S3method(print, proto)
S3method(str, uneval)
S3method(print, uneval)
S3method("[", uneval)
S3method(as.character, uneval)
export(aes)
export(aes_string)
export(aes_all)
export(annotate)
export(benchplot)
export(coord)
export(is.coord)
S3method(coord_render_bg, default)
S3method(coord_render_axis_h, default)
S3method(coord_render_axis_v, default)
export(coord_cartesian)
S3method(is.linear, cartesian)
S3method(coord_distance, cartesian)
S3method(coord_transform, cartesian)
S3method(coord_train, cartesian)
export(coord_fixed, coord_equal)
S3method(coord_aspect, fixed)
export(coord_flip)
S3method(is.linear, flip)
S3method(coord_transform, flip)
S3method(coord_train, flip)
S3method(coord_labels, flip)
export(coord_map)
S3method(coord_transform, map)
S3method(coord_distance, map)
S3method(coord_aspect, map)
S3method(coord_train, map)
S3method(coord_render_bg, map)
S3method(coord_render_axis_h, map)
S3method(coord_render_axis_v, map)
export(coord_polar)
S3method(coord_aspect, polar)
S3method(coord_distance, polar)
S3method(coord_ranges, polar)
S3method(coord_transform, polar)
S3method(coord_render_axis_v, polar)
S3method(coord_render_axis_h, polar)
S3method(coord_render_bg, polar)
S3method(coord_render_fg, polar)
export(coord_trans)
S3method(coord_distance, trans)
S3method(coord_transform, trans)
S3method(coord_train, trans)
export(facet)
export(is.facet)
export(facet_grid)
S3method(facet_train_layout, grid)
S3method(facet_map_layout, grid)
S3method(facet_render, grid)
export(label_value)
export(label_both)
export(label_parsed)
export(label_bquote)
export(facet_null)
S3method(facet_train_layout, null)
S3method(facet_map_layout, null)
S3method(factor_guides, null)
export(facet_wrap)
S3method(facet_train_layout, wrap)
S3method(facet_map_layout, wrap)
S3method(facet_render, wrap)
S3method(fortify, lm)
S3method(fortify, map)
export(map_data)
S3method(fortify, SpatialPolygons)
S3method(fortify, Polygons)
S3method(fortify, Polygon)
S3method(fortify, SpatialLinesDataFrame)
S3method(fortify, Lines)
S3method(fortify, Line)
S3method(fortify, data.frame)
S3method(fortify, NULL)
S3method(fortify, default)
export(fortify)
export(geom_abline)
export(geom_bar)
export(geom_histogram)
export(geom_bin2d)
export(geom_blank)
export(geom_boxplot)
export(geom_crossbar)
export(geom_errorbar)
export(geom_errorbarh)
export(geom_freqpoly)
export(geom_hex)
export(geom_hline)
export(geom_linerange)
export(geom_path)
export(geom_contour)
export(geom_density2d)
export(geom_line)
export(geom_step)
export(geom_point)
export(geom_jitter)
export(geom_pointrange)
export(geom_polygon)
export(geom_quantile)
export(geom_rect)
export(geom_ribbon)
export(geom_area)
export(geom_density)
export(geom_rug)
export(geom_segment)
export(geom_smooth)
export(geom_text)
export(geom_tile)
export(geom_vline)
import(plyr, digest, scales, grid, reshape2)
S3method(grobHeight, absoluteGrob)
S3method(grobWidth, absoluteGrob)
S3method(grobX, absoluteGrob)
S3method(grobY, absoluteGrob)
S3method(grid.draw, absoluteGrob)
S3method(widthDetails, zeroGrob)
S3method(heightDetails, zeroGrob)
S3method(grobWidth, zeroGrob)
S3method(grobHeight, zeroGrob)
S3method(drawDetails, zeroGrob)
export(update_labels)
export(labs, xlab, ylab)
export(xlim)
export(ylim)
S3method(limits, numeric)
S3method(limits, character)
S3method(limits, factor)
S3method(limits, Date)
S3method(limits, POSIXct)
S3method(limits, POSIXlt)
export(expand_limits)
export(plotmatrix)
S3method("+", ggplot)
export("%+%")
export(last_plot)
S3method(print, ggplot)
export(ggplot)
S3method(ggplot, default)
S3method(ggplot, data.frame)
export(position_dodge)
export(position_fill)
export(position_jitter)
export(position_stack)
export(qplot, quickplot)
export(ggsave)
S3method(print, scale)
export(continuous_scale)
export(discrete_scale)
S3method(scale_train, continuous)
S3method(scale_train, discrete)
S3method(scale_reset, default)
S3method(scale_transform, continuous)
S3method(scale_transform, discrete)
S3method(scale_map, continuous)
S3method(scale_map, discrete)
S3method(scale_dimension, continuous)
S3method(scale_dimension, discrete)
S3method(scale_breaks, continuous)
S3method(scale_breaks, discrete)
S3method(scale_labels, continuous)
S3method(scale_labels, discrete)
S3method(scale_clone, continuous)
export(scale_alpha, scale_alpha_continuous)
export(scale_alpha_discrete)
export(scale_area)
export(scale_colour_brewer, scale_fill_brewer)
export(scale_x_continuous, scale_y_continuous, scale_x_log10, scale_y_log10, scale_x_reverse, scale_y_reverse, scale_x_sqrt, scale_y_sqrt)
S3method(scale_map, position_c)
export(scale_x_date, scale_y_date)
export(scale_x_datetime, scale_y_datetime)
export(scale_x_discrete, scale_y_discrete)
S3method(scale_train, position_d)
S3method(scale_limits, position_d)
S3method(scale_reset, position_d)
S3method(scale_map, position_d)
S3method(scale_dimension, position_d)
export(scale_colour_gradient, scale_fill_gradient)
export(scale_colour_gradient2, scale_fill_gradient2)
export(scale_colour_gradientn, scale_fill_gradientn)
export(scale_colour_grey, scale_fill_grey)
export(scale_colour_hue, scale_fill_hue)
export(scale_colour_identity, scale_fill_identity, scale_shape_identity, scale_linetype_identity, scale_alpha_identity, scale_size_identity)
S3method(scale_map, identity)
export(scale_linetype, scale_linetype_continuous, scale_linetype_discrete)
export(scale_colour_manual, scale_fill_manual, scale_shape_manual, scale_linetype_manual, scale_alpha_manual, scale_size_manual)
export(scale_shape, scale_shape_discrete, scale_shape_continuous)
export(scale_size, scale_size_continuous)
export(scale_size_discrete)
export(stat_bin)
export(stat_bin2d)
export(stat_binhex)
export(stat_boxplot)
export(stat_contour)
export(stat_density2d)
export(stat_density)
export(stat_function)
export(stat_identity)
export(stat_qq)
export(stat_quantile)
export(stat_smooth)
export(stat_spoke)
export(stat_sum)
export(stat_summary)
export(mean_cl_boot, mean_cl_normal, mean_sdl, median_hilow)
export(mean_se)
export(stat_unique)
export(stat_abline)
export(stat_vline)
export(stat_hline)
S3method(summary, ggplot)
export(ggpcp)
export(ggfluctuation)
export(ggmissing)
export(ggstructure)
export(ggorder)
export(theme_gray, theme_grey)
export(theme_bw)
export(theme_blank)
export(theme_rect)
export(theme_line)
export(theme_segment)
export(theme_text)
export(theme_update, theme_set, theme_get)
export(opts)
S3method(print, theme)
export(cut_interval)
export(cut_number)
export(muted)
S3method(rweave, list)
S3method(rweave, matrix)
S3method(cweave, list)
S3method(cweave, matrix)
S3method(interleave, list)
S3method(interleave, unit)
S3method(interleave, default)
export(should_stop)
export(scale_colour_discrete, scale_colour_continuous, scale_fill_discrete, scale_fill_continuous, scale_color_brewer, scale_color_continuous, scale_color_discrete, scale_color_gradient, scale_color_grey, scale_color_hue, scale_color_identity, scale_color_manual, coord_equal)
