<h1>aes</h1>

<p>The aes function is the workhorse the ensures that aesthetic mappings are only evaluated when the plot is rendered, not when it is created.  (This lets you swap in and out data independently of which variables are mapped to what).  </p>

<p>To see what the aes function is doing, just run it directly from the command line.  You'll see it produces a list of unevaluated expressions</p> 

<h2><code>aes_string</code></h2>

<p>If you are creating an aesthetic mapping within a function it may be easier to use the <code>aes_string</code> function.  Instead of using expressions, it instead uses strings, so that:</p>

<pre>aes(x = mpg, y = wt) == aes_string(x = "mpg", y = "wt")</pre>
