<h1>ggplot2</h1>

<p>ggplot2 is a plotting system for R, based on the grammar of graphics, which tries to take the good parts of base and lattice graphics and none of the bad parts. It takes care of many of the fiddly details that make plotting a hassle (like drawing legends) as well as providing a powerful model of graphics that makes it easy to produce complex multi-layered graphics.</p>

<p>A copy of this site for local use is available <a href="ggplot-static.zip"  onClick="javascript:urchinTracker('/ggplot2/ggplot-static.zip');">here</a>, as a 6 meg zip file. To use it, unzip and open the index.html page.</p>

<h2>Installation</h2>

<code>install.packages("ggplot2")</code>

<p>(you'll need to make sure you have the most recent version of R to get the most recent version of ggplot)</p>

<h2>ggplot book</h2>

<p>The ggplot book will be published by Springer, hopefully by the end of summer 08.  Until then, the latest draft version of the book will be available here.  If you do download and read it, I would really appreciate your comments and criticism, so that I can improve it before it goes to press.</p>

<ul>
  <li><a href="book.pdf" onClick="javascript:urchinTracker('/ggplot2/book.pdf');">The whole thing</a> (PDF, 2007-09-02), 50 pages, 800k</li>
</ul>

<h2>Other resources</h2>

<p>You might also find the following presentations useful:</p>

<ul>
  <li><a href="resources/2007-past-present-future.pdf">ggplot2: past, present and future</a>.</li>
  <li>One hour <a href="resources/2007-vanderbilt.pdf">ggplot2 workshop</a> given at Vanderbilt, 2007.  (<small><a href="resources/2007-vanderbilt.r">r code</a></small>)</li>
</ul>

<h2>Training</h2>

<p>From time-to-time I offer face-to-face workshops and training seminars.  You can see upcoming events at <a href="http://lookingatdata.com" title="Looking at Data.  Exploratory data analysis (EDA)">lookingatdata.com</a>.</p>

<h1>Reference manual</h1>

