<h1>ggplot2</h1>

<p>ggplot2 is a plotting system for R, based on the grammar of graphics, which tries to take the good parts of base and lattice graphics and none of the bad parts. It takes care of many of the fiddly details that make plotting a hassle (like drawing legends) as well as providing a powerful model of graphics that makes it easy to produce complex multi-layered graphics.</p>

<p>A copy of this site for local use is available <a href="ggplot-static.zip"  onClick="javascript:urchinTracker('/ggplot2/ggplot-static.zip');">here</a>, as a 9 meg zip file. To use it, unzip and open the index.html page.</p>

<form action="http://www.google.com/cse" id="cse-search-box">
  <div>
    Search the site: <input type="hidden" name="cx" value="001874040508206079260:zzkysoltlo0" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="31" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

<h2>Mailing list</h2>

<p>You are welcome to ask ggplot2 questions on R-help, but if you'd like to participate in a more focussed mailing list, please sign up for the ggplot2 mailing list:</p>

<form action="http://groups.google.com/group/ggplot2/boxsubscribe">
  Your email address: <input type="text" name="email"> <input type="submit" value="Subscribe">
</form>

<p>You must be a member to post messages, but anyone can <a href="http://groups.google.com/group/ggplot2">read the archived discussions</a>.</p>

<h2>Installation</h2>

<code>install.packages("ggplot2")</code>

<p>(you'll need to make sure you have the most recent version of R to get the most recent version of ggplot)</p>

<h2>ggplot book</h2>

<p><a href="book/">See here</a></p>

<h2>Other resources</h2>

<p>You might also find the following presentations useful:</p>

<ul>
  <li><a href="resources/2007-past-present-future.pdf">ggplot2: past, present and future</a>.</li>
  <li>One hour <a href="resources/2007-vanderbilt.pdf">ggplot2 workshop</a> given at Vanderbilt, 2007.  (<small><a href="resources/the-grammar.r">r code</a></small>)</li>
</ul>

<h2>Training</h2>

<p>From time-to-time I offer face-to-face workshops and training seminars.  You can see upcoming events at <a href="http://lookingatdata.com" title="Looking at Data.  Exploratory data analysis (EDA)">lookingatdata.com</a>.</p>

<h1>Reference manual</h1>

