pre {background-color: #fff; border: none; margin-bottom: 2em;}
pre span, pre a, pre strong {font-family: monospace; }

table strong {font-size: 0.9em;}
table th {font-size: 0.85em;}
table code {font-size: 1em;}
tr td {padding-bottom: 0.5em;}


.call {background-color: #eee; padding: 5px; width: 50%; float: right; margin-left: 2em;}

img.icon {border: 1px solid #ccc; margin-bottom: -4px;}
.slc {color: #668040; }
.hierarchy {float: right; width: 15em;}

ul.icons {list-style-type: none; margin: 0; }
ul.icons li {clear: both; margin-left: 0; margin-top: 0;}
ul.icons .icon {margin: 3px;}

.left {float: left; width:50%;}
.right {float: right; width:50%;}

a:link, a:visited {text-decoration: none; }
a:hover {text-decoration: underline;}

.feedback  {background-color: #eee; padding: 5px; border: 1px solid #666;}
